In [ ]:
prit("welcome to Python world")

In [5]:
S="code yug"
print(S[-1:2:-1])

guy e

In [14]:
#day3
# simple if statement
if 4>2:
  print("it is greater than 2")
  print("I am inside the if block")
print("I am outside the if block")

it is greater than 2
I am inside the if block
I am outside the if block

In [16]:
if 10>a:
  print("10 is greater than a")
  print("a=5")

NameError: name 'a' is not defined

In [20]:
# input statement
name = input("enter your name")
print("your name is",name)

enter your nameAngel
your name is Angel

In [23]:
number1 = int(input("enter the first number"))
number2 = int(input("enter the 2nd number"))
print(number1+number2)

enter the first number2345623
enter the 2nd number136789656
139135279

In [30]:
no1= int(input("enter the first the number"))
no2= int(input("enter the 2nd number"))
if no1>no2:
  print("no1 is greater than no2")
elif no2>no1:
  print("no2 is greater than no1")

enter the first the number34
enter the 2nd number56
no2 is greater than no1

In [33]:
age = int(input("enter your age"))
if age>=18:
  print("you are ligible for voting")
  print("please go ahead and vote")
else:
  print("you are not eligible for voting")
  print("please try next year")
  print("Thank you")

enter your age12
you are not eligible for voting
please try next year
Thank you

In [ ]:
print("Hi Angel")

Hi Angel

In [ ]:
# dynamic

a=10
print (a)
print(id(a))

a=1.23
print(a)
print(id(a))

a="Angel"
print(a)
print(id(a))

10
10751144
1.23
139131913609136
Angel
139131923240048

In [ ]:
from re import A
# deleting a varaible

a=20
print(a)
del a
print(a)

20

NameError: name 'a' is not defined

In [ ]:
# variable annotation

a:int =10
print(a)

print(__annotations__['a'])

10
<class 'int'>

In [ ]:
import keyword

print(keyword.kwlist)
print(len(keyword.kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
35

In [ ]:
s = "Bangalore"
print(s[0:6:1])

Bangal

In [ ]:
# string
s="code yug"
print(s[0:3:1])
print(s[2:4])
print(s[0:5:2])
print(s[0:8:3])

cod
de
cd
ceu

In [ ]:
s="bangalore"
print(s[::])

bangalore

In [ ]:
print("angel")

In [ ]:
2+3

In [ ]:
print("Hello Angel")

In [ ]:
# dynamic

a=10
print(a)
print(id(a))

a=3.14
print(a)
print(id(a))

a="NTT"
print(a)
print(id(a))

In [ ]:
# for loop

for i in " NTT DATA":
  print(i)