In [ ]:
prit("welcome to Python world")

In [5]:
S="code yug"
print(S[-1:2:-1])

guy e

In [14]:
#day3
# simple if statement
if 4>2:
  print("it is greater than 2")
  print("I am inside the if block")
print("I am outside the if block")

it is greater than 2
I am inside the if block
I am outside the if block

In [16]:
if 10>a:
  print("10 is greater than a")
  print("a=5")

NameError: name 'a' is not defined

In [20]:
# input statement
name = input("enter your name")
print("your name is",name)

enter your nameAngel
your name is Angel

In [23]:
number1 = int(input("enter the first number"))
number2 = int(input("enter the 2nd number"))
print(number1+number2)

enter the first number2345623
enter the 2nd number136789656
139135279

In [30]:
no1= int(input("enter the first the number"))
no2= int(input("enter the 2nd number"))
if no1>no2:
  print("no1 is greater than no2")
elif no2>no1:
  print("no2 is greater than no1")

enter the first the number34
enter the 2nd number56
no2 is greater than no1

In [34]:
age = int(input("enter your age"))
if age>= 18:
  print("you are ligible for voting")
  print("please go ahead and vote")
else:
  print("you are not eligible for voting")
  print("please try next year")
  print("Thank you")

enter your age13
you are not eligible for voting
please try next year
Thank you

In [47]:
mark= int(input(("Enter you mark")))
if mark>= 35:
  print("you have passed the assesment")
  print("Congratulation")
else:
  print("you have failed the assesment")
  print("Please try again next next")

Enter you mark34
you have failed the assesment
Please try again next next

In [51]:
a= int(input("enter a number"))
if a%2==0:
  print("it is a even number")
else:
  print(" it is a odd number")

enter a number11
 it is a odd number

In [53]:
# if elif else

grade=int(input("enter your score"))
if grade>=90:
  print("A grade")
elif grade>=60:
  print("B grade")
elif grade>45:
  print("c")
else:
  print("fail")

enter your score34
fail

In [55]:
# nested if

num=int(input("enter a numner"))

if num>0:
  print("number is a positive number")
  if num%2==0:
    print("number is even")
  else:
    print("number is odd")
else:
  print("number is a negative number")

enter a numner-23
number is a negative number

In [56]:
#while loop
i=2
while i<=5:
  print(i)
  i=i+1

2
3
4
5

In [57]:
i=5
while i<=50:
  print(i)
  i=i+5

5
10
15
20
25
30
35
40
45
50

In [58]:
# multiplicatio tables

num = int(input("enter the table number"))

i=1
while i<=10:
  print(i*num)
  i=i+1

enter the table number2
2
4
6
8
10
12
14
16
18
20

In [60]:
# odd number between 1 to 100
i=1
while i<=100:
  print(i)
  i+=2

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [ ]:
print("Hi Angel")

Hi Angel

In [ ]:
# dynamic

a=10
print (a)
print(id(a))

a=1.23
print(a)
print(id(a))

a="Angel"
print(a)
print(id(a))

10
10751144
1.23
139131913609136
Angel
139131923240048

In [ ]:
from re import A
# deleting a varaible

a=20
print(a)
del a
print(a)

20

NameError: name 'a' is not defined

In [ ]:
# variable annotation

a:int =10
print(a)

print(__annotations__['a'])

10
<class 'int'>

In [ ]:
import keyword

print(keyword.kwlist)
print(len(keyword.kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
35

In [ ]:
s = "Bangalore"
print(s[0:6:1])

Bangal

In [ ]:
# string
s="code yug"
print(s[0:3:1])
print(s[2:4])
print(s[0:5:2])
print(s[0:8:3])

cod
de
cd
ceu

In [ ]:
s="bangalore"
print(s[::])

bangalore

In [ ]:
print("angel")

In [ ]:
2+3

In [ ]:
print("Hello Angel")

In [ ]:
# dynamic

a=10
print(a)
print(id(a))

a=3.14
print(a)
print(id(a))

a="NTT"
print(a)
print(id(a))

In [ ]:
# for loop

for i in " NTT DATA":
  print(i)