In [ ]:
prit("welcome to Python world")

In [ ]:
print("angel")

In [ ]:
2+3

In [ ]:
print("Hello Angel")

In [ ]:
# dynamic

a=10
print(a)
print(id(a))

a=3.14
print(a)
print(id(a))

a="NTT"
print(a)
print(id(a))

In [ ]:
# for loop

for i in " NTT DATA":
  print(i)